<div class="col-md-12 mb-3 d-md-block d-lg-none d-xl-none d-xxl-none" style="margin-top:20px;">
    <button
        target="_blank"
        style="margin-left: 80px; float:right;"
        class="btn btn-primary float-right"
        (click)="scrollRight()"
        > Scroll Right <i class='i-Arrow-Forward'></i></button
    >

    <button
        class="btn btn-primary float-right"
        style="color: white !important"
        (click)="scrollLeft()"
        > <i class='i-Arrow-Back'></i>Scroll Left</button
    >
</div>