<div class="breadcrumb">
  <h1>Manage User</h1>
  <ul>
    <li><a href="">Account</a></li>
    <li>Change User Password</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div *ngIf="loading" class="col-md-12 text-center">
  <div class="spinner spinner-primary mr-3"></div>
</div>


<div
  class="row"
  *ngIf="!loading"
  [@animate]="{
    value: '*',
    params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
  }"
>
  <div class="col-lg-8 col-md-12 card" style="padding: 20px">
    <form [formGroup]="changePasswordFormGroup">
      <h4>Change User Password</h4>
      <p>Fields marked with asterisk are compulsory</p>
      <div class="">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-8 row">
              <div class="col-md-9 form-group mb-3">
                <label for="tax">Select Tax Payer TIN *</label>
                <div *ngIf="userProfile.role == '1' || userProfile.role == '3'">
                  <ng-select
                    [items]="foundTIN$ | async"
                    bindLabel="name"
                    bindValue="name"
                    [trackByFn]="trackByFn"
                    labelForId="tin"
                    [minTermLength]="minLengthTerm"
                    [loading]="companiesLoading"
                    placeholder="Search for a user or company by TIN"
                    typeToSearchText="Please enter {{
                      minLengthTerm
                    }} or more characters"
                    [typeahead]="companiesInput$"
                    (change)="onDropdownClick(selectedTIN)"
                    formControlName="tin_slug"
                  >
                  </ng-select>
                </div>
              </div>

              <div class="col-md-9 form-group mb-3">
                <label for="password">Enter Password *</label>

                <div class="input-group">
                  <input
                    id="user_password"
                    [type]="fieldTextType ? 'text' : 'password'"
                    class="form-control"
                    formControlName="password"
                    placeholder="Enter new Password"
                  />
                  <div class="input-group-append">
                    <span
                      style="
                       
                        background-color: #0063ff14;
                      "
                      (click)="toggleFieldTextType()"
                      class="input-group-text"
                    >
                      <i class="bi bi-eye-fill"></i>
                    </span>
                  </div>
                  <br />
                  
                </div>
              </div>
              <div class="col-md-9 form-group">
                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                  <div *ngIf="f.password.errors.required">Password is required.</div>
                </div>
              </div>

              <div class="col-md-9 form-group mb-3">
                <label for="confirm_password">Confirm Password *</label>

                <div class="input-group">
                  <input
                    id="user_password"
                    [type]="fieldTextType ? 'text' : 'password'"
                    class="form-control"
                    formControlName="confirm_password"
                    placeholder="Enter Password again"
                  />
                  <div class="input-group-append">
                    <span
                      style="background-color: #0063ff14;"
                      (click)="toggleFieldTextType()"
                      class="input-group-text"
                    >
                      <i class="bi bi-eye-fill"></i>
                    </span>
                  </div>
                  <br />
                  
                </div>

              </div>

              <div class="col-md-9 form-group">
                <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                  <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
                  <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                </div>
              </div>
            </div>
          </div>

          
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-8 row">
              <div class="col-md-9 form-group mb-3">
                <label for="tax"></label>
                <button                  
                  style="background-color: green; color: white"
                  class="btn btn-success pd-x-20 form-control"
                  (click)="changeUserPassword()"
                  [disabled]="!changePasswordFormGroup.valid"
                >
                  Change Password
                </button>
              </div>
              <div class="col-sm-7"></div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



