<app-breadcrumb></app-breadcrumb>

<div class="separator-breadcrumb border-top"></div>

<div class="row" *ngIf="editMode">
	<div class="col-lg-6 col-md-6"></div>
</div>

<div class="row mb-3">
	<div class="col-md-12 mb-3">
		<div class="form-group float-left">
			<input
				id="email"
				placeholder="Search"
				[formControl]="searchControl"
				class="form-control form-control-rounded"
				type="email"
			/>
		</div>

		<a
			class="btn btn-primary float-right"
			style="color: white !important"
			(click)="openAssessment()"
			>Perform Assesssment</a
		>
	</div>
	<div *ngIf="loading" class="col-md-12 text-center">
		<div class="spinner spinner-primary mr-3"></div>
	</div>

	<div
		class="col-md-12"
		*ngIf="!loading"
		[@animate]="{
			value: '*',
			params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
		}"
	>
		<div class="card o-hidden">
			<ngx-datatable
				*ngIf="assessments?.length"
				style="height: calc(100vh - 270px); box-shadow: none"
				class="material fullscreen"
				[columnMode]="'force'"
				[headerHeight]="50"
				[footerHeight]="50"
				[rowHeight]="60"
				[scrollbarH]="true"
				[scrollbarV]="true"
				[limit]="10"
				[rows]="filteredItems"
			>
				<ngx-datatable-column>
					<ng-template ngx-datatable-header-template>
						Registraton Number
					</ng-template>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-row="row"
					>
						{{ row.id }}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column>
					<ng-template ngx-datatable-header-template>
						Company Name
					</ng-template>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-row="row"
					>
						{{ row.organization_name }}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column>
					<ng-template ngx-datatable-header-template> Company TIN </ng-template>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-row="row"
					>
						{{ row.organization_tin }}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column>
					<ng-template ngx-datatable-header-template> MDA </ng-template>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-row="row"
					>
						{{ row.mda_name }}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column>
					<ng-template ngx-datatable-header-template> Tax Item </ng-template>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-row="row"
					>
						PAYE
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column>
					<ng-template ngx-datatable-header-template>
						Date Created
					</ng-template>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-row="row"
					>
						{{ parsePhpDate(row.created_at) }}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column>
					<ng-template ngx-datatable-header-template> Status </ng-template>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-row="row"
					>
						<span *ngIf="row.status == '1'" class="text-success"
							>Completed</span
						>

						<span *ngIf="row.status == '-2'" class="text-danger">Disputed</span>

						<span *ngIf="!row.status" class="text-danger">UNPAID</span>

						<span *ngIf="row.status == '-1'" class="textdanger">Cancelled</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [flexGrow]="1">
					<ng-template ngx-datatable-header-template> Bulk ID </ng-template>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-row="row"
					>
						{{ row.bulk_assessment_id }}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [width]="120">
					<ng-template ngx-datatable-header-template> Actions </ng-template>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-row="row"
					>
						<button
							class="btn btn-wide btn-outline-secondary mr-3"
							(click)="viewAssessment(row)"
						>
							Pay Now
						</button>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</div>
	</div>
</div>

<ng-template #deleteConfirmModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Delete Tax Item</h4>
		<button
			type="button"
			class="close"
			aria-label="Close button"
			aria-describedby="modal-title"
			(click)="modal.dismiss('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p><strong>Are you sure?</strong></p>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-outline-secondary btn-rounded"
			(click)="modal.dismiss('cancel')"
		>
			Cancel
		</button>
		<button
			type="button"
			ngbAutofocus
			class="btn btn-wide btn-danger btn-rounded"
			(click)="modal.close('Ok')"
		>
			Ok
		</button>
	</div>
</ng-template>

<ng-template #modalPaymentGateways let-modal>
	<form
		(ngSubmit)="addGateway(assessmentForDisplay.id)"
		[formGroup]="gatewayForm"
	>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">
				Choose payment gateway of your choice
			</h4>
			<button
				type="button"
				class="close"
				aria-label="Close button"
				aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')"
			>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<ngx-select-dropdown
				tabindex="0"
				formControlName="gateway"
				[config]="config"
				[options]="['OPAY']"
			>
			</ngx-select-dropdown>
			<br />
			<button
				class="btn btn-primary"
				aria-label="Close button"
				aria-describedby="Select gateway"
			>
				<span>Proceed</span>
			</button>
		</div>
	</form>
</ng-template>

<ng-template #modalBillingRef let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Enter Billing Ref</h4>
		<button
			type="button"
			class="close"
			aria-label="Close button"
			aria-describedby="modal-title"
			(click)="modal.dismiss('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div *ngIf="loading" class="col-md-12 text-center">
			<div class="spinner spinner-primary mr-3"></div>
		</div>

		<div class="col-md-12">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-8 row">
					<div class="col-md-9 form-group mb-3">
						<label for="tax">Enter billing ref </label>

						<input
							class="form-control"
							type="number"
							placeholder="Amount in NGN"
							[(ngModel)]="billing_ref"
						/>
					</div>
					<div class="col-sm-7"></div>
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-outline-secondary btn-rounded"
			(click)="payWithBillingRef()"
		>
			Pay
		</button>
	</div>
</ng-template>
