<div class="">
  <app-breadcrumb></app-breadcrumb>

  <div class="separator-breadcrumb border-top"></div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div *ngIf="loading" class="col-md-12 text-center">
      <div class="spinner spinner-primary mr-3"></div>
      <br />
      <span>Processing File...</span>
    </div>

    <div *ngIf="registering" class="col-md-12 text-center">
      <div class="spinner spinner-primary mr-3"></div>
      <br />
      <span>Registering users. Please wait...</span>
    </div>
    <div
      *ngIf="!loading && !registering"
      class="col-lg-6 col-sm-12"
      [@animate]="{
        value: '*',
        params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
      }"
    >
      <div class="card mb-4">
        <div class="card-body">
          <div class="col-lg-12 col-md-12">
            <h5 class="card-title m-0 p-3">
              Upload Users File Using File Sample Below
            </h5>
            <div class="row" style="margin: 2%">
              <div class="col-md-12">
                <div class="mb-5">
                  <div class="">
                    <div>
                      <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-8 row">
                          <div class="col-md-9 form-group mb-3">
                            <a
                              href="assets/sample_bulk_coy_register.xlsx"
                              class="btn btn-primary"
                            >
                              Download Excel Template
                            </a>
                          </div>
                          <div class="col-md-9 form-group mb-3">
                            <label for="input_select"
                              >Select Bulk Company File (Excel Format)
                            </label>
                            <input
                              type="file"
                              id="input_select"
                              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                              class="form-control"
                              (change)="fileChanged($event)"
                            />
                          </div>
                          <div class="col-md-9 form-group mb-3">
                            <button
                              class="btn btn-danger btn-submit"
                              (click)="submit()"
                            >
                              Register Uploaded Company
                            </button>
                          </div>
                          <div class="col-sm-7"></div>
                        </div>
                        <div class="col-sm-1"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
