<!-- <div class="breadcrumb">
  <h1>Assessment</h1>
  <ul>
    <li><a href="">Configuration</a></li>
    <li>TaxItems</li>
  </ul>
</div> -->
<app-breadcrumb></app-breadcrumb>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-3">
  <div class="col-md-12 mb-3">
    <div class="form-group float-left">
      <input
        id="email"
        placeholder="Search"
        [formControl]="searchControl"
        class="form-control form-control-rounded"
        type="email"
      />
    </div>
    <a class="btn btn-primary float-right" href="#/assessment/perform"
      >Perform New Assessment</a
    >
  </div>
  <div *ngIf="loading" class="col-md-12 text-center">
    <div class="spinner spinner-primary mr-3"></div>
  </div>

  <div
    class="col-md-12"
    *ngIf="!loading"
    [@animate]="{
      value: '*',
      params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
    }"
  >
    <div class="card o-hidden">
      <ngx-datatable
        *ngIf="assessments?.length"
        style="height: calc(100vh - 270px); box-shadow: none"
        class="material fullscreen"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="60"
        [scrollbarH]="true"
        [limit]="10"
        [rows]="filteredItems"
      >
        <ngx-datatable-column name="photo" [maxWidth]="100">
          <ng-template ngx-datatable-header-template>
            Registraton Number
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            {{ row.id }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template> Tax Item </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            {{ row.tax_item ? row.tax_item : getCustomTaxItem(row) }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template> MDA </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            {{ row.mda }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            Date Created
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            {{ parsePhpDate(row.created_at) }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template> Status </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            <span *ngIf="row.billing_ref !== null" class="text-success"
              >Confirmed</span
            >

            <span *ngIf="row.billing_ref == '-2'" class="text-danger"
              >Disputed</span
            >

            <span *ngIf="!row.billing_ref" class="text-danger"
              >Unconfirmed</span
            >

            <span *ngIf="row.billing_ref == '-1'" class="textdanger"
              >Cancelled</span
            >
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="1">
          <ng-template ngx-datatable-header-template>
            Last Updated
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            {{ parsePhpDate(row.created_at) }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template> Created By </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            {{
              assessmentForDisplay.created_by == null
                ? "N/A"
                : assessmentForDisplay.created_by
            }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="120">
          <ng-template ngx-datatable-header-template> Actions </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            <button
              class="btn btn-wide btn-outline-secondary mr-3"
              (click)="viewAssessment(row)"
            >
              View
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete Tax Item</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure?</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded"
      (click)="modal.dismiss('cancel')"
    >
      Cancel
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')"
    >
      Ok
    </button>
  </div>
</ng-template>

<ng-template #modalConfirm let-modal>
  <div class="modal-body">
    <div *ngIf="loading" class="col-md-12 text-center">
      <div class="spinner spinner-primary mr-3"></div>
    </div>
    <div *ngIf="!loading && !dynamicSummary" class="card-body">
      <div style="display: flex; justify-content: space-between">
        <img src="../../../../assets/images/logo.png" style="height: 30px" />
        <span>Smart Tax</span>
      </div>
      <div class="separator-breadcrumb border-top"></div>
      <p
        style="
          text-align: end;
          font-size: 27px;
          color: #000;
          font-family: serif;
        "
      >
        Bill Reference:
        {{
          assessmentForDisplay.billing_ref == null
            ? "Unconfirmed"
            : assessmentForDisplay.billing_ref
        }}
      </p>

      <div>
        <span style="display: block">Plateau State Internal</span>
        <span style="display: block">Revenue Service</span>
        <span style="display: block">Bank Road, Jos</span>
        <div
          style="display: inline-block; width: 140px; border: 0.1px solid #000"
        ></div>
      </div>

      <div class="text-center">
        <img
          src="../../../../assets/images/logo-.png"
          class="my-1"
          style="height: 120px"
        />
      </div>
      <p
        style="
          color: green;
          font-size: 33px;
          font-weight: bold;
          text-align: center;
        "
      >
        PLATEAU STATE GOVERNMENT
      </p>
      <div style="text-align: center">
        <span
          style="
            font-weight: bold;
            padding: 9px 16px;
            background-color: green;
            display: inline-block;
            font-size: 25px;
          "
          class="text-center mb-3 text-white"
          >TAX ASSESSMENT</span
        >
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td colspan="3" style="font-weight: 700">MDA</td>
            <td colspan="1">
              {{ assessmentForDisplay.mda }}
            </td>
          </tr>
          <tr>
            <td colspan="3" style="font-weight: 700">PAYER NAME</td>
            <td colspan="1">
              {{ assessmentForDisplay.payer_name || assessmentForDisplay.name }}
            </td>
          </tr>

          <tr>
            <td colspan="3" style="font-weight: 700">PAYER TIN</td>
            <td colspan="1">{{ assessmentForDisplay.tin }}</td>
          </tr>
          <tr>
            <td colspan="3" style="font-weight: 700">AMOUNT</td>
            <td colspan="1">{{ assessmentForDisplay.amount }}</td>
          </tr>
          <tr>
            <td colspan="3" style="font-weight: 700">Tax Item</td>
            <td colspan="1">{{ assessmentForDisplay.tax_item }}</td>
          </tr>
          <tr>
            <td colspan="3" style="font-weight: 700">Signature:</td>
            <td style="padding-top: 20p" colspan="1"></td>
          </tr>
          <tr>
            <td colspan="3" style="font-weight: 700">Created by:</td>
            <td colspan="1">
              <span
                style="color: green; display: inline-block; margin-right: 4px"
              >
                {{
                  assessmentForDisplay.created_by == null
                    ? "N/A"
                    : assessmentForDisplay.created_by
                }}</span
              >
            </td>
          </tr>
          <tr>
            <td colspan="3" style="font-weight: 700">Demand Notice Officer</td>
            <td>
              {{
                assessmentForDisplay.approved_by == null
                  ? "N/A"
                  : assessmentForDisplay.approved_by
              }}
            </td>
          </tr>
          <tr>
            <td colspan="3" style="font-weight: 700">Date Confirmed</td>
            <td>
              {{
                assessmentForDisplay.date_approved == null
                  ? "N/A"
                  : parsePhpDate(assessmentForDisplay.date_approved)
              }}
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <br />
      Date Issued:
      {{
        assessmentForDisplay.created_at == null
          ? "N/A"
          : parsePhpDate(assessmentForDisplay.created_at)
      }}
    </div>

    <div class="col-md-12" *ngIf="!loading && dynamicSummary && payeeSummary">
      <div style="display: flex; justify-content: space-between">
        <img src="../../../../assets/images/logo.png" style="height: 30px" />
        <span>Smart Tax</span>
      </div>
      <div class="separator-breadcrumb border-top"></div>
      <p
        style="
          text-align: end;
          font-size: 27px;
          color: #000;
          font-family: serif;
        "
      >
        Bill Reference:
        {{
          assessmentForDisplay.billing_ref == null
            ? "Unconfirmed"
            : assessmentForDisplay.billing_ref
        }}
      </p>

      <div>
        <span style="display: block">Plateau State Internal</span>
        <span style="display: block">Revenue Service</span>
        <span style="display: block">Bank Road, Jos</span>
        <div
          style="display: inline-block; width: 140px; border: 0.1px solid #000"
        ></div>
      </div>

      <div class="text-center">
        <img
          src="../../../../assets/images/logo-.png"
          class="my-1"
          style="height: 120px"
        />
      </div>
      <p
        style="
          color: green;
          font-size: 33px;
          font-weight: bold;
          text-align: center;
        "
      >
        PLATEAU STATE GOVERNMENT
      </p>
      <div style="text-align: center">
        <span
          style="
            font-weight: bold;
            padding: 9px 16px;
            background-color: green;
            display: inline-block;
            font-size: 25px;
          "
          class="text-center mb-3 text-white"
          >TAX ASSESSMENT</span
        >
      </div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">MDA</th>
            <th scope="col">{{ displayPayee.mda }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tax Item</td>
            <td class="font-weight-bold text-success">
              {{ displayPayee.tax_item }}
            </td>
          </tr>
          <tr>
            <td>Gross Income</td>
            <td class="font-weight-bold">
              {{ formatNumber(displayPayee.gi) }} NGN
            </td>
          </tr>
          <tr>
            <td>Consolidated Relief</td>
            <td class="font-weight-bold">
              {{ formatNumber(displayPayee.cra) }} NGN
            </td>
          </tr>
          <tr>
            <td>Deductions</td>
            <td class="font-weight-bold">
              {{ formatNumber(displayPayee.deductions) }} NGN
            </td>
          </tr>
          <tr>
            <td>Taxable Income</td>
            <td class="font-weight-bold">
              {{ formatNumber(displayPayee.ti) }} NGN
            </td>
          </tr>
          <tr>
            <td>Annual Tax Liability</td>
            <td class="font-weight-bold">
              {{ formatNumber(displayPayee.paye) }} NGN
            </td>
          </tr>
          <tr>
            <td>Monthly Tax Liability</td>
            <td class="font-weight-bold">
              {{ formatNumber(displayPayee.paye / 12) }} NGN
            </td>
          </tr>
          <tr>
            <td>TIN</td>
            <td class="text-danger font-weight-bold">
              {{ assessmentForDisplay.tin }}
            </td>
          </tr>
          <tr>
            <td>Billing Ref</td>
            <td class="text-warning font-weight-bold">
              {{
                assessmentForDisplay.billing_ref == null
                  ? "Unconfirmed"
                  : assessmentForDisplay.billing_ref
              }}
            </td>
          </tr>
          <tr>
            <td>Demand Notice Officer</td>
            <td class="font-weight-bold">
              {{
                assessmentForDisplay.approved_by == null
                  ? "N/A"
                  : assessmentForDisplay.approved_by
              }}
            </td>
          </tr>
          <tr>
            <td>Date Confirmed</td>
            <td class="font-weight-bold">
              {{
                assessmentForDisplay.date_approved == null
                  ? "N/A"
                  : parsePhpDate(assessmentForDisplay.date_approved)
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="col-md-12"
      *ngIf="!loading && dynamicSummary && directAssessmentSummary"
    >
      <div>
        <div style="display: flex; justify-content: space-between">
          <img src="../../../../assets/images/logo.png" style="height: 30px" />
          <span>Smart Tax</span>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <p
          style="
            text-align: end;
            font-size: 27px;
            color: #000;
            font-family: serif;
          "
        >
          Bill Reference: Bill Reference:
          {{
            assessmentForDisplay.billing_ref == null
              ? "Unconfirmed"
              : assessmentForDisplay.billing_ref
          }}
        </p>

        <div>
          <span style="display: block">Plateau State Internal</span>
          <span style="display: block">Revenue Service</span>
          <span style="display: block">Bank Road, Jos</span>
          <div
            style="
              display: inline-block;
              width: 140px;
              border: 0.1px solid #000;
            "
          ></div>
        </div>

        <div class="text-center">
          <img
            src="../../../../assets/images/logo-.png"
            class="my-1"
            style="height: 120px"
          />
        </div>
        <p
          style="
            color: green;
            font-size: 33px;
            font-weight: bold;
            text-align: center;
          "
        >
          PLATEAU STATE GOVERNMENT
        </p>
        <div style="text-align: center">
          <span
            style="
              font-weight: bold;
              padding: 9px 16px;
              background-color: green;
              display: inline-block;
              font-size: 25px;
            "
            class="text-center mb-3 text-white"
          >
            DIRECT TAX ASSESSMENT</span
          >
        </div>
        <table class="table" *ngIf="displayPayee.length > 0">
          <tbody>
            <tr>
              <td style="font-weight: 700">MDA</td>
              <td>{{ assessmentForDisplay.mda }}</td>
            </tr>
            <tr>
              <td style="font-weight: 700">TAX ITEM</td>
              <td>{{ assessmentForDisplay.tax_item }}</td>
            </tr>
            <tr>
              <td style="font-weight: 700">PAYER NAME</td>
              <td>
                {{
                  assessmentForDisplay.payer_name || assessmentForDisplay.name
                }}
              </td>
            </tr>

            <tr>
              <td style="font-weight: 700">PAYER TIN</td>
              <td>
                {{ assessmentForDisplay.payer_tin || assessmentForDisplay.tin }}
              </td>
            </tr>
            <tr *ngFor="let item of displayPayee">
              <td *ngIf="item.label" class="font-weight-bold">
                {{ item.label.toUpperCase() }}
              </td>
              <td *ngIf="item.label" class="font-weight-bold">
                {{ item.value }}
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Total</td>
              <td class="font-weight-bold">
                {{ displayPayee[displayPayee.length - 1].total }}
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Demand Notice Officer</td>
              <td class="font-weight-bold">
                {{
                  assessmentForDisplay.approved_by == null
                    ? "N/A"
                    : assessmentForDisplay.approved_by
                }}
              </td>
            </tr>

            <tr>
              <td class="font-weight-bold">Date Confirmed</td>
              <td class="font-weight-bold">
                {{
                  assessmentForDisplay.date_approved == null
                    ? "N/A"
                    : parsePhpDate(assessmentForDisplay.date_approved)
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="userProfile.role == 4 && !assessmentForDisplay.demand_notice_ref"
      type="button"
      class="btn btn-outline-secondary btn-rounded"
      (click)="generateDemandNotice()"
    >
      Generate Demand Notice
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-rounded"
      (click)="modal.dismiss('Cross click')"
    >
      Close
    </button>
  </div>
</ng-template>
