td {
    font-size: 0.7rem;
  }
  
  
  
  .first {
              width: 15%;
              display: inline-block;
          }
    
       
    
  @media screen and (max-width: 500px) {
    
  .first
        {
          width: 70%;
        }
   }
  