<div
  class="card o-hidden"
  [@animate]="{
    value: '*',
    params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
  }"
>
  <div class="row">
    <div class="col-md-6">
      <div class="p-4">
        <div class="auth-logo text-center mb-4">
          <img height="100px" src="assets/images/logo.png" alt="" />
        </div>
        <h1 class="mb-3 text-18">New Password</h1>
        <form
          action=""
          [formGroup]="passwordForm"
          (ngSubmit)="submitRequest()"
        >
          <!-- <div> -->
          <div class="form-group mb-3">
            <label for="email">Tempory Password</label>
            <input
              formControlName="password"
              placeholder="Enter temporary password sent to your phone."
              class="form-control form-control-rounded"
              [ngClass]="{ 'is-invalid': submitted && fval.password.errors }"
              type="password"
            />
            <div
              *ngIf="submitted && fval.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.password.errors.required">
                Temporary password is required.
              </div>
              <div *ngIf="fval.password.errors.server"></div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="email">New Password</label>
            <input
              formControlName="new_password"
              placeholder="Enter new password"
              class="form-control form-control-rounded"
              [ngClass]="{ 'is-invalid': submitted && fval.new_password.errors }"
              type="password"
            />
            <div
              *ngIf="submitted && fval.new_password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.new_password.errors.required">
                New password is required.
              </div>
              <div *ngIf="fval.new_password.errors.server"></div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="email">New Password Confirmation</label>
            <input
              formControlName="confirm_new_password"
              placeholder="Enter new password again"
              valueEqualTo='new_password'
              class="form-control form-control-rounded"
              [ngClass]="{ 'is-invalid': submitted && fval.confirm_new_password.errors }"
              type="password"
            />
            <div
              *ngIf="submitted && fval.confirm_new_password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.confirm_new_password.errors.required">
                Password confirmation is required.
              </div>
              <div *ngIf="fval.confirm_new_password.errors?.notEqual">
                New password mismatch.
              </div>
              <div *ngIf="fval.confirm_new_password.errors.server"></div>
            </div>
          </div>
          <div my-3>
            <btn-loading
              type="submit"
              btnClass="btn-primary btn-rounded btn-block mt-3"
              [loadingText]="loadingText"
              [loading]="loading"
            >
              Update Password
            </btn-loading>
          </div>

          <!-- </div> -->

          <!-- 
          <div *ngIf='stage == 2'>
            <div class="form-group" *ngIf='stage == 2'>
              <label for="email">Enter verificaiton code sent to {{forgotForm.value.phone}} </label>
              <input formControlName='code' class="form-control form-control-rounded" type="phoneNumber">
            </div>
            <button (click)='submitForgot()' class="btn btn-primary btn-block btn-rounded mt-3">Submit</button>

          </div> 
          -->

          <!-- 
          <div *ngIf='stage==3'>
            <div class="form-group" *ngIf='stage == 3'>
              <label for="email">Enter new Password </label>
              <input formControlName='password' class="form-control form-control-rounded" type="password">
            </div>

            <div class="form-group" *ngIf='stage == 3'>
              <label for="email">Confirm Password </label>
              <input formControlName='confirm_password' class="form-control form-control-rounded" type="password">
            </div> 
            <btn-loading id="btnLog" btnClass="btn-primary btn-rounded btn-block mt-3"  (click)='submitForgot()' [loadingText]="loadingText" [loading]="loading">
              Submit
            </btn-loading>
          </div> 
          -->
        </form>
        <div class="mt-3 text-center">
          <a href="" class="text-muted" routerLink="/auth/signin">
            <u>Sign in</u>
          </a>
        </div>
      </div>
    </div>
    <div
      class="col-md-6 text-center"
      style="
        background-size: cover;
        background-image: url(./assets/images/photo-long-3.jpg);
      "
    >
      <div class="pr-3 auth-right">
        <button
          class="
            btn
            btn-outline-primary
            btn-outline-email
            btn-block
            btn-icon-text
            btn-rounded
          "
          routerLink="/auth/signin"
        >
          <i class="i-Mail-with-At-Sign"></i>
          Sign In
        </button>
      </div>
    </div>
  </div>
</div>
